---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";
:lang(zh){
    p, blockquote p, p a, li{
        /*衬线字体*/
        font-family: 'Noto Serif SC', '宋体', serif;
    }
}

:lang(zh){  
    h1, h2, h3, h4, h5, h6, a{      
            /*非衬线字体*/
            font-family: 'Noto Sans SC', "PingFang SC", "Microsoft Yahei", sans-serif;
    }
}

.page_number{
    display: inline-block;
    width: 200px;
    text-align: center
}

.red{
    color:red
}

.green{
    color:green
}

@media screen and (max-width:1600px){ 
    #responsive{
        visibility: hidden;
    }
}